* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  text-decoration: none;
}

img {
  display: block;
  
  width: 100%;
}

:root {
  font-size: 100%;
}

@import "sass/colors";
@import "sass/typography";

.border {
  border: 1px solid red;
}

@import "sass/spacing";
@import "sass/layout";

.container {
  max-width: 1440px;
  width: 100%;

  margin: 0 auto;
  padding: 0 5px;
}
