$white-regular: #ffffff;

$grey-light: #606060;
$grey-regular: #464E5B;
$grey-dark: #393939;



$lighter-blue: #1285FF;
$blue-light: #1285FF;
$blue-regular: #2478cc;
$blue-dark: #014EFF;

$black-light: #0F131A;
$black-regular:#030303;
$black-dark: #000000;

$yellow-regular: #ffC700;
$yellow-dark: #F4AF32;

$green-light: #66CB9F;
$green-regular: #49A55D;
$green-dark: #0C9C00;

$red-regular: #FF4E4E;

