$white-regular: #ffffff;

$grey-input: #f4f4f4;
$grey-light: #606060;
$grey-regular: #464e5b;
$grey-dark: #393939;

$blue-light: #1285ff;
$blue-regular: #2478cc;
$blue-dark: #014eff;

$black-light: #0f131a;
$black-regular: #030303;
$black-dark: #000000;

$yellow-regular: #ffc700;
$yellow-dark: #f4af32;

$green-btn: #49a55d;
$green-light: #66cb9f;
$green-regular: #49a55d;
$green-dark: #0c9c00;

$red-regular: #ff4e4e;
