body {
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: $blue-regular;

  padding: 1rem;
}

.register > button {
  padding: 5px 15px;

  border-radius: 12px;
  border: none;

  cursor: pointer;

  letter-spacing: 1px;
  color: $grey-regular;

  &:hover {
    opacity: 0.9;
  }
}

.register > p {
  color: $white-regular;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-header > h2 {
  display: flex;
  align-items: center;
  justify-content: center;

  color: $black-dark;

  font-family: $poppins;
  letter-spacing: 2px;

  gap: 5px;

  cursor: pointer;
}

.main-header > h2 > span {
  color: $yellow-regular;

  margin-bottom: 2px;
}

.search {
  border: none;
  border-radius: 4px;
  outline: none;

  width: 100%;
  min-width: 380px;

  padding: 9px 4px 9px 40px;

  background: $grey-input url("../../assets/search-icon.svg.svg") no-repeat 13px
    center;

  &:focus {
    outline: 1px solid $blue-regular;
  }
}

.hire-btn {
  border: 1px solid $blue-regular;
  border-radius: 4px;

  font-size: 10px;
  font-weight: bold;

  width: 90px;
  height: 26px;

  padding: 2px 6px;

  color: $blue-regular;

  cursor: pointer;

  transition: background-color 0.3s ease-in-out;

  &:hover {
    color: $white-regular;
    background-color: $blue-regular;
  }
}

.help-btn {
  background: $yellow-regular;
  border-radius: 4px;
  border: none;

  font-size: 10px;
  font-weight: bold;

  width: 90px;
  height: 26px;

  padding: 2px 6px;

  color: $black-dark;

  cursor: pointer;

  transition: background-color 0.3s ease-in-out;

  &:hover {
    color: $yellow-regular;
    background-color: $black-light;
  }
}

.icons-header {
  display: flex;
  gap: 20px;

  img {
    cursor: pointer;
    cursor: pointer;
  }
}

.profile > p {
  font-size: 1rem;
  color: $black-dark;

  span {
    font-weight: bold;
  }
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    margin-left: 1rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    font-size: 1rem;
    font-weight: 400;

    cursor: pointer;
  }
}

.global-content {
  display: flex;
  width: 100%;
}

.aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 30%;
}

.fast-start {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  width: 95%;

  padding: 2rem 1rem;

  background: $white-regular;

  border-radius: 7px 7px 3px 3px;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);

  .fast-start-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h3 {
    font-family: $inter;
    color: $blue-dark;
  }

  span {
    font-size: 11px;
    font-weight: 400;

    color: $grey-light;
    text-align: center;
  }

  .days > li {
    margin-top: 1rem;

    font-size: 14px;
    color: $grey-regular;

    cursor: pointer;

    &:nth-child(1) {
      font-weight: bold;
      font-size: 14px;
      color: $blue-regular;
    }
  }
}

input[type="range"] {
  -webkit-appearance: none;
  height: 7px;
  background: $grey-input;
  border-radius: 5px;
  background-image: linear-gradient($green-dark);
  background-size: 20% 100%;
  background-repeat: no-repeat;
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 0;
  width: 0;
  -webkit-appearance: none;
}

.help {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  width: 95%;

  padding: 2rem;

  background: $white-regular;

  border-radius: 7px 7px 3px 3px;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);

  h3 {
    font-family: $poppins;
    color: $grey-regular;
    font-size: 24px;
  }

  .help-img {
    position: relative;
  }

  .help-icon {
    position: absolute;
    bottom: 5px;
    right: 2px;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5px;

    color: $black-dark;
    font-weight: bold;
    font-size: 8px;

    &::before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;

      background: #49a55d;
    }
  }

  h4 {
    font-family: $inter;
    color: $black-light;
    font-weight: 900;
    font-size: 20px;
  }

  p {
    color: $grey-dark;
    font-size: 12px;
    text-align: center;

    width: 120px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: space-around;

    gap: 5px;
    padding: 10px 25px;

    border: 1px solid $green-btn;
    border-radius: 3px;
    background-color: $green-btn;

    font-family: $inter;
    color: $white-regular;
    font-weight: 900;

    cursor: pointer;

    transition: background-color 0.3s ease-in-out;

    &:hover {
      color: $green-btn;
      background-color: $white-regular;
      border: 1px solid $green-btn;
    }
  }

  span {
    font-size: 12px;
    font-weight: 500;

    a {
      color: $blue-dark;
    }
  }
}

.nhb {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  width: 95%;

  padding: 2rem;

  background: $white-regular;

  border-radius: 7px 7px 3px 3px;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);

  h3 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;

    font-family: $poppins;

    font-size: 30px;
    font-weight: bold;

    span {
      color: $yellow-regular;
      font-size: 32px;
      font-weight: bold;
    }
  }

  p {
    font-family: $poppins;
    color: $grey-regular;
    font-size: 18px;
  }

  .nhb-list li {
    color: $grey-light;
    font-weight: 400;
    font-size: 12px;

    margin: 16px 0;
  }

  li {
    display: flex;
    align-items: center;

    img {
      margin-right: 8px;
    }
  }

  button {
    border: none;
    border-radius: 4px;
    border: 1px solid $blue-light;

    color: $white-regular;
    font-size: 16px;
    font-weight: bold;

    padding: 16px 50px;

    background-color: $blue-light;

    cursor: pointer;

    transition: background-color 0.3s ease-in-out;

    &:hover {
      color: $blue-light;
      background-color: $white-regular;
      border: 1px solid $blue-light;
    }
  }

  span {
    font-size: 12px;
    font-weight: 500;
    color: $red-dark;
    text-align: center;
  }
}

.main {
  width: 70%;

  h1 {
    font-family: $poppins;
    font-size: 24px;
    font-weight: 500;
  }

  .videowrapper {
    position: relative;
    overflow: hidden;

    width: 100%;

    padding-top: 46.25%;

    border-radius: 6px;
  }
  
  .videowrapper iframe {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}


.post {
  display: flex;
  justify-content: space-between;

h4{
font-family: $poppins;
font-weight: 700;
color: $blue-regular;
}

.post-down {
  display: flex;
  flex-direction: column;
  align-items: center;

  width:100%;
  max-width: 250px;

  button {
  width: 100%;
  max-width: 180px;

  padding: 10px 5px;
  margin-bottom: 10px;

  border: 1px solid $blue-light;
  border-radius: 5px;

  background-color: transparent;

  cursor: pointer;

  a {
    color: $blue-light;
    font-size: 12px;
    font-weight: bold;
  }
  }

  span {
    font-size: 8px;
    font-weight: 400;
    color: $grey-light;
  }
}

}
