body {
  background-color: #4d4d4d;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: $blue-regular;

  padding: 1rem;
}

.register > button {
  padding: 5px 15px;

  border-radius: 12px;
  border: none;

  cursor: pointer;

  letter-spacing: 1px;
  color: $grey-regular;
}

.register > p {
  color: $white-regular;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-header > h2 {
  display: flex;
  align-items: center;
  justify-content: center;

  color: $black-dark;

  letter-spacing: 2px;

  gap: 5px;
}

.main-header > h2 > span {
  color: $yellow-regular;

  margin-bottom: 2px;
}

.search {
  border: none;
  border-radius: 4px;
  outline: none;

  width: 100%;
  min-width: 380px;

  padding: 9px 4px 9px 40px;

  background: $grey-input url("../../assets/search-icon.svg.svg") no-repeat 13px
    center;
}

.hire-btn {
  border: 1px solid $blue-regular;
  border-radius: 4px;

  font-size: 10px;
  font-weight: bold;

  width: 90px;
  height: 26px;

  padding: 2px 6px;

  color: $blue-regular;
}

.help-btn {
  background: $yellow-regular;
  border-radius: 4px;
  border: none;

  font-size: 10px;
  font-weight: bold;

  width: 90px;
  height: 26px;

  padding: 2px 6px;

  color: $black-dark;
}

.icons-header {
  display: flex;
  gap: 20px;
}

.main-header > p {
  font-size: 1rem;
  color: $black-dark;
  span {
    color: $black-dark;

    font-weight: bold;
  }
}

.profile {
  display: flex;
  align-items: center;

  img {
    margin-left: 1rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    font-size: 1rem;
    font-weight: 400;
  }
}

.global-content {
  display: flex;
  width: 100%;
}

.aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 30%;
  border: 3px solid green;
}

.fast-start {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  width: 95%;

  padding: 2rem 1rem;

  background: $white-regular;

  border-radius: 7px 7px 3px 3px;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);

  .fast-start-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h3 {
    color: $blue-dark;
  }

  span {
    font-size: 11px;
    font-weight: 400;

    color: $grey-light;
    text-align: center;
  }

  .days > li {
    margin-top: 1rem;
    
    &:nth-child(1) {
      font-weight: bold;
      font-size: 14px;
      color: $blue-regular;
    }
  }  
}


.help {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  width: 95%;

  padding: 2rem;

  background: $white-regular;

  border-radius: 7px 7px 3px 3px;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);

  

}



.main {
  width: 70%;
}
