@media screen and (max-width: 670px) {
  :root {
    font-size: 83.75%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .register {

    button {
        font-size: 10px;
    }
  }
  .main-header {
    flex-direction: column;

    h2 {
      order: -2;
      margin-bottom: 10px;
    }
  }

  .search {
    margin: 10px 0 20px 0;

    min-width: 280px;
  }

  .icons-header {
    margin: 20px 0;

    img {
      order: 2;
    }
  }

  .datepicker-input {
    width: 50%;
    height: 50%;
  }

  .datepicker-input::-webkit-calendar-picker-indicator {
    width: 50%;
    height: 50%;
  }

  .profile {
    order: -1;
    margin-bottom: 20px 0;
  }
  
  .aside {
    display: none;
  }

  .post {
    flex-direction: column;
    align-items: center;

    .post-down {
      margin-top: 24px;
    }
  }
}

.post-descrip {
  p {
    font-size: 12px;
  }
}

.post-descrip-info {
  flex-direction: column;
}

.post-btns {

  button:nth-child(1) {
    font-size: 10px;
    font-weight: bold;

    padding: 8px 10px;
  }

  button:nth-child(2) { 
    font-size: 14px;

  }
}

.download-list {
   
  h4 {
    font-size: 10px;
    text-decoration: 1px underline $black-dark;
    line-height: 20px;

  }
  
  button {
    padding: 5px 10px;
    font-size: 8px;
  }
}

.footer {
  text-align: center;
}

.footer-list-container {

  h6 {
    margin-top: 10px;
  }
}

.copy-container {
  gap: $gap-2;
  h4 {
    font-size: 18px;
  }

  .desktop {
    display: none;
  }

}
